<div>
<div class="row">
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let device of (devices$.devices | async)">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{device.hwId}}</h4>
          <p class="list-group-item-text">{{device.name}}</p>
          <p class="list-group-item-text">{{device.state}}</p>
        </div>
        <span class="pull-right">
          <img
            [src]="device.img"
            alt="{{device.img}}"
            class="img-responsive"
            style="max-height: 100px;">
        </span>
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <!-- <ngbd-pagination-basic></ngbd-pagination-basic> -->
    <!-- <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination> -->
    <rbo-pagination [target]="target"
                [page]="page | async"></rbo-pagination>
</div>
</div>

